
* {
  box-sizing: border-box;
  color: #0F3642;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(155deg, #F8F09C, #0CB2EC) no-repeat center center fixed;
  background-repeat: no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

h1 {
  margin: 10px auto;
}

.title, .search-text {
  font-family: 'Century Gothic', sans-serif;
  font-weight: 200;
}
.heading { 
  width: 100%;
  height: 60px;
  background-color: black;
  box-shadow: 1px 1px 7px #888888;
  margin-bottom: 10px;
  text-align: center;  
}

.logo {
  padding-top: 10px;
  color: yellow;
  letter-spacing: 1.5px;
}

h1 {
  margin: 10px auto;
}

.title, .search-text {
  font-family: 'Century Gothic', sans-serif;
  font-weight: 200;
}
.heading { 
  width: 100%;
  height: 60px;
  background-color: black;
  box-shadow: 1px 1px 7px #888888;
  margin-bottom: 10px;
  text-align: center;  
}

.logo {
  padding-top: 10px;
  color: yellow;
  letter-spacing: 1.5px;
}

.container {
  width: 80%;
  background: rgb(250,250,250,0.5);
  margin: 0 auto;
}

.flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleContainer {
  margin-top: 25px;
}

.titleMain {
  font-size: 1.9em;
}

.titleSub {
  font-weight: normal;
  font-size: 0.9em;
  max-width: 250px;
}

.flex-container h1 {
  height: 100px;
  line-height: 40px;
  margin: 15px;
  text-align: center;
}

.form-input-container {
  display: flex;
  height: 40px;
  align-items: flex-end;
}

form {
  display: flex;
  margin: 15px auto;
}

label {
  display: inline-block;
  font-size: 1.4em;
  margin-top: 10px;
}

input[type="text"] {
  background: none;
  border-style: none none solid none;
  border-width: thin;
  border-color: #9DB2B7;
  font-size: 1.3em;
  margin-right: 20px;
  margin-top: 35px;
  padding: 3px;
  width: 400px;
}

input[type="text"]:focus {
  outline: none;
  border: 2px solid #0CB2EC;
  -webkit-box-shadow: 0px 0px 4px 0px #0CB2EC;
  box-shadow: 0px 0px 4px 0px #0CB2EC;
}

button {  
  height: 40px;
  width: 100px;
  background: black;  
  border-radius: 5px;
  border: none; 
  box-shadow: 1px 1px 3px #888888;
}

button:hover {
  cursor: pointer;
  background: yellow; 
}

.search-text {
  width: 100%;
  font-size: 1.1em;
  color: yellow;
  letter-spacing: 1.2px;
}

.search-text:hover {  
  color: black;
  letter-spacing: 1.2px;
}

li {
  padding-top: 5px;
}

.suggestions {
  display: flex;
  font-size: 1.3em;
  margin: 50px;
}

.suggestions h1 {
  font-size: 1.2em;
}

.header {
  font-size: 0.9em !important;
}

.description {
  font-size: 0.7em !important;
}

.cardImage {
  width: 250px;
}

.image {
  margin: 10px auto;
}

.error {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 450px) {

  label, input[type="text"], button {
    font-size: 1.2em;
  }

  input[type="text"] {
    width: 240px;
    margin: 0 auto 20px auto;
  }

  form {
    flex-direction: column;
  }

  #suggestions {
    padding: 0;
  }

  #suggestions h1 {
    font-size: 1.1em;
  }
}
