<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gift.io</title>
  <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
  <div class="container">
    <div class="flex-container">
      <h1>Enter an Instagram user to get gift suggestions:</h1>
      <form onsubmit="return handleSubmit()">
        <div>
          <label>@</label><input type="text" name="user" id="input">
        </div>
        <button>Search</button>
      </form>
      <div id="suggestions">
        <h2>Results for @_______:</h2>
        <ul>
          <li>Concert ticket</li>
          <li>Funky socks</li>
          <li>Jewelry</li>
          <li>Food</li>
          <li>Concert ticket</li>
          <li>Funky socks</li>
          <li>Jewelry</li>
          <li>Food</li>
        </ul>
      </div>
    </div>
  </div>

  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
  <script src="app.js"></script>
  
</body>
</html>
