<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gift.io</title>
  <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
  <div class="container">
    <div class="flex-container">
      <div id="suggestions">
        <h1>Results for @_______:</h1>
        <ul>
          <li>Concert ticket</li>
          <li>Funky socks</li>
          <li>Jewelry</li>
          <li>Food</li>
          <li>Concert ticket</li>
          <li>Funky socks</li>
          <li>Jewelry</li>
          <li>Food</li>
        </ul>
      </div>
    </div>
  </div>

  <script src="app.js"></script>
</body>
</html>
